<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuaipic.mapper.BlogEntityMapper">
  <resultMap id="BaseResultMap" type="com.wuaipic.model.BlogEntity">
    <id column="blog_id" jdbcType="VARCHAR" property="blogId" />
    <result column="blog_title" jdbcType="VARCHAR" property="blogTitle" />
    <result column="blog_subtitle" jdbcType="VARCHAR" property="blogSubtitle" />
    <result column="blog_content" jdbcType="VARCHAR" property="blogContent" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="update_time" jdbcType="VARCHAR" property="updateTime" />
    <result column="be_top" jdbcType="VARCHAR" property="beTop" />
    <result column="blog_status" jdbcType="VARCHAR" property="blogStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    blog_id, blog_title, blog_subtitle, blog_content, create_time, update_time, be_top, 
    blog_status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from blog_t
    where blog_id = #{blogId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from blog_t
    where blog_id = #{blogId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.wuaipic.model.BlogEntity">
    insert into blog_t (blog_id, blog_title, blog_subtitle, 
      blog_content, create_time, update_time, 
      be_top, blog_status)
    values (#{blogId,jdbcType=VARCHAR}, #{blogTitle,jdbcType=VARCHAR}, #{blogSubtitle,jdbcType=VARCHAR}, 
      #{blogContent,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, 
      #{beTop,jdbcType=VARCHAR}, #{blogStatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wuaipic.model.BlogEntity">
    insert into blog_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blogId != null">
        blog_id,
      </if>
      <if test="blogTitle != null">
        blog_title,
      </if>
      <if test="blogSubtitle != null">
        blog_subtitle,
      </if>
      <if test="blogContent != null">
        blog_content,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="beTop != null">
        be_top,
      </if>
      <if test="blogStatus != null">
        blog_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blogId != null">
        #{blogId,jdbcType=VARCHAR},
      </if>
      <if test="blogTitle != null">
        #{blogTitle,jdbcType=VARCHAR},
      </if>
      <if test="blogSubtitle != null">
        #{blogSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="blogContent != null">
        #{blogContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="beTop != null">
        #{beTop,jdbcType=VARCHAR},
      </if>
      <if test="blogStatus != null">
        #{blogStatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wuaipic.model.BlogEntity">
    update blog_t
    <set>
      <if test="blogTitle != null">
        blog_title = #{blogTitle,jdbcType=VARCHAR},
      </if>
      <if test="blogSubtitle != null">
        blog_subtitle = #{blogSubtitle,jdbcType=VARCHAR},
      </if>
      <if test="blogContent != null">
        blog_content = #{blogContent,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="beTop != null">
        be_top = #{beTop,jdbcType=VARCHAR},
      </if>
      <if test="blogStatus != null">
        blog_status = #{blogStatus,jdbcType=VARCHAR},
      </if>
    </set>
    where blog_id = #{blogId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wuaipic.model.BlogEntity">
    update blog_t
    set blog_title = #{blogTitle,jdbcType=VARCHAR},
      blog_subtitle = #{blogSubtitle,jdbcType=VARCHAR},
      blog_content = #{blogContent,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=VARCHAR},
      be_top = #{beTop,jdbcType=VARCHAR},
      blog_status = #{blogStatus,jdbcType=VARCHAR}
    where blog_id = #{blogId,jdbcType=VARCHAR}
  </update>
</mapper>